﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(admin).Master" AutoEventWireup="true" CodeBehind="adminhome.aspx.cs" Inherits="Online_CRS.adminhome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 35px;
            width: 537px;
        }
        .auto-style2 {
            height: 92px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        

        <asp:Label ID="Label2" runat="server"  style="margin-left:400px"  Text="Administrator"></asp:Label>

        

    </div>
    <div>

        <table class="auto-style1">
            <tr>
                <td class="auto-style2">
                    <asp:Button ID="b_managebooking" style="margin-left:300px" runat="server" Text="View Booking" Width="140px" OnClick="b_managebooking_Click" />
                </td>
                <td class="auto-style2"></td>
            </tr>
            <tr>
                <td class="auto-style6">
                    <br />
                    <br />
                    <asp:Button ID="b_updatedb" runat="server" style="margin-left:300px" Text="Update Database" Width="142px" OnClick="b_updatedb_Click" />
                    <br />
                </td>
                <td class="auto-style7">
                    </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    &nbsp;</td>
                <td class="auto-style5">
                    
                    <asp:LinkButton ID="lb_logout" runat="server" OnClick="lb_logout_Click1">Logout</asp:LinkButton>
                    
                </td>
            </tr>
        </table>

    </div>
</asp:Content>
