﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(admin).Master" AutoEventWireup="true" CodeBehind="adminlogin.aspx.cs" Inherits="Online_CRS.adminlogin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        .</div>
    <div>

        <table class="auto-style1">
            <tr>
                <td class="auto-style3">
                    <asp:Label ID="Label2" style="margin-left:350px" runat="server" Text="Email ID"></asp:Label>
                </td>
                <td class="auto-style4">
                    <asp:TextBox ID="tb_adminlogin" runat="server" Width="215px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style3">
                    <asp:Label ID="Label3" style="margin-left:350px" runat="server" Text="Password"></asp:Label>
                </td>
                <td class="auto-style4">
                    <asp:TextBox ID="tb_adminpassword" runat="server" Width="215px" TextMode="Password"></asp:TextBox>
                </td>
            </tr>
        </table>

    </div>
    <div>

        <asp:Button ID="b_adminlogin" runat="server" style="margin-left:500px" Text="Login" Width="68px" OnClick="b_adminlogin_Click" />

        <asp:Label ID="Label5" runat="server" CssClass="auto-style5" Text="Invalid email or password" Visible="False"></asp:Label>

        <br />

        <br />

    </div>
    <div>

        <asp:Label ID="Label4" runat="server" style="margin-left:440px" Text="---------------OR--------------"></asp:Label>

        <br />

        <br />

    </div>
    <div>
         <asp:Button ID="b_adminregister" runat="server" style="margin-left:500px" Text="Register" Width="68px" OnClick="b_adminregister_Click" />
    </div>
</asp:Content>
