﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(user login signup).Master" AutoEventWireup="true" CodeBehind="MyReservation.aspx.cs" Inherits="Online_CRS.MyReservation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" style="margin-left:90px" Text="My Reservation"></asp:Label>
    
    </div>
     <div>

            <asp:TextBox ID="tb_details" runat="server"  style="margin-left:10px" TextMode="MultiLine" Height="166px" Width="653px"></asp:TextBox>

            </div>
        <div>

            <asp:Button ID="bt_cancelreservation" Style="margin-left:500px" runat="server" Text="Cancel Reservation" OnClick="bt_cancelreservation_Click"   />

            </div>
        <div>
           
            <asp:Button ID="bt_okay" runat="server" Text="Okay"  style="margin-left:500px" OnClick="bt_okay_Click" />
           
        </div>
</asp:Content>
