﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site(user login signup).master.cs" Inherits="Online_CRS.Site_user_login_signup_" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
         <div>

             <asp:Image ID="Image1" runat="server" style="margin-left:400px" ImageUrl="~/car logo.jpg" Width="95px" />

        </div>
    <div>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
