﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(admin).Master" AutoEventWireup="true" CodeBehind="Viewalldetails.aspx.cs" Inherits="Online_CRS.Viewalldetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        <asp:Label ID="Label2" runat="server" Text="All Car's Details"></asp:Label>

    </div>
    <div>

        <asp:TextBox ID="tb_viewall" runat="server" Height="405px" TextMode="MultiLine" Width="1084px"></asp:TextBox>

    &nbsp;&nbsp;&nbsp;
        <br />
        <asp:Button ID="b_done" runat="server" style="margin-left:670px" Text="Done" OnClick="b_done_Click" />

    </div>
</asp:Content>
