﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(admin).Master" AutoEventWireup="true" CodeBehind="Viewdetails.aspx.cs" Inherits="Online_CRS.Viewdetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        <asp:Label ID="Label2" runat="server" Text="Details"></asp:Label>

    </div>
    <div>

        <asp:TextBox ID="tb_view" runat="server" Height="55px" Width="727px" TextMode="MultiLine"></asp:TextBox>

    </div>
    <div>

        <asp:Button ID="b_done" style="margin-left:650px" runat="server" Text="Done" OnClick="b_done_Click" />

    </div>
</asp:Content>
