﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site(admin).Master" AutoEventWireup="true" CodeBehind="viewbooking.aspx.cs" Inherits="Online_CRS.viewbooking" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>

        <asp:Label ID="Label2" runat="server" style="margin-left:500px" Text="Bookings"></asp:Label>

    </div>
    <div>

      

       

      

        <table class="auto-style4">
            <tr>
                <td class="auto-style5">
                    <asp:TextBox ID="tb_view" runat="server" CssClass="auto-style6" Height="401px" TextMode="MultiLine" Width="2042px"></asp:TextBox>
                </td>
            </tr>
        </table>

      

       

      

    </div>
    <div>
        
        <asp:Button ID="b_viewbookingdone"  style="margin-left:800px" runat="server" Text="Done" OnClick="b_viewbookingdone_Click" />
        
    </div>
</asp:Content>
